/**
 *  railsposts.com
 */

/* body */

body {
    background: url("/images/background.gif") repeat-x left top;
}

hr {
    background: #999999;
    height: 1px;
}

ul {
    list-style-type: square;
}

blockquote {
    color: #555;
}

/* links */

a.external {
    background: transparent url(/images/external.gif) no-repeat scroll right center;
    padding-right: 14px;
    margin: 0;
}

a:link {
    color: #900;
    text-decoration: none;
}

a:visited {
    color: #900;
    text-decoration: none;
}

a:hover {
    color: #f20;
    text-decoration: underline;
}

a:active {
    color: #f60;
    text-decoration: underline;
}

/* wrapper */

#wrapper {
    width: 825px;
    margin: 0 auto;
    font-family: 'Lucida Grande',Geneva,Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #000000;
}

.container {
    width: 100%;
}

/* header */

#header {
    border-bottom: 2px solid #A12223;
}

#header h1, #tagline {
    display: none;
}

#logo img {
    margin: 25px 0 15px 0;
}

#main {
    min-height: 90px;
    padding: 20px 45px 20px 0;
    margin: 0;
    background-color: white;
}

#main h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

#main h2 a {
    color: #000;
}

#main h3 {
    font-size: 14px;
}

#main .meta {
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

pre {
    border: 1px solid #E0E0E0;
    padding: 0.5em 1em;
    color: #333;
}

#main form input[type=text] {
    width: 60%;
}

#main form textarea {
    width: 90%;
    height: 480px;
}

/* side column */

#side ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0;
    border-left: 1px solid #DDD;
}

#side ul li {
    margin: 0;
    padding: 0;
}

#side ul li:hover {
}

#side ul li a {
    padding: 2px 0 2px 2em;
    color: #333;
    display: block;
}

#side ul li.active a {
    color: #000 !important;
    font-weight: bolder;
}

#side ul li a:hover {
    background-color: #FDFBF9;
    color: #000;
    text-decoration: none;
}

/* footer */

#footer {
    text-align: right;
    height: 50px;
    padding: 0;
    border-top: 1px solid #ccc;
}

#footer .tools {
    padding: 16px 0;
}

/* flash messages */

#flash_notice, #flash_error {
    padding: 2px 10px;
    margin: 0 0 12px 160px;
}

#flash_notice {
    background-color: #CFC;
}

#flash_error {
    background-color: #FCC;
}

.fieldWithErrors {
    display: inline;
}

#errorExplanation {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
}

#errorExplanation ul {
    margin: 2px 24px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: disc;
}
