<ul>
  <li class="current"><%= link_to "最新", "/" %></li>
  <li onclick="location.href='http://www.google.com/ncr';return false;"><%= link_to "存档", "/" %></li>
  <li onclick="location.href='http://www.google.com/ncr';return false;"><%= link_to "主题", "/" %></li>
</ul>
