<% title link_to(@post.title, @post) %>
<% admin_link link_to 'Edit', edit_post_path(@post) %>
<% admin_link link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
<% admin_link link_to 'See All Posts', posts_path %>

<% div_for(@post, :class => @post.status) do %>
  <div class="meta">
    <%= I18n.l(@post.published_at.to_date, :format => :long).gsub(' ', '') %>发表
    <%- if @post.updated? -%>
      &nbsp; <%= I18n.l(@post.updated_at.to_date, :format => :long).gsub(' ', '') %>更新
    <%- end -%>
  </div>
  <div class="body">
    <%= @post.body %>
  </div>
<% end %>
