<% title link_to(@post.title, @post) %>

<div class="meta">
  <%= I18n.l @post.published_at.to_date, :format => :long %>发表
  <% if @post.updated_at.to_date > @post.published_at.to_date %>
    &nbsp; <%= I18n.l @post.updated_at.to_date, :format => :long %>更新
  <% end %>
</div>

<% div_for @post do %>
  <%= @post.body %>
<% end %>

<% admin_link link_to 'Edit', edit_post_path(@post) %>
<% admin_link link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
<% admin_link link_to 'See All Posts', posts_path %>

